h1{
    color:black;
    background-color: white;

}
p{
    color:red;
    background-color: black;
}
button{
    color:green
}
body{
    background-color: #588157
    
}
a{
    margin-right: 200px;

}