/*ul{
    background-color: salmon;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
   
}
.outer{
    height: 300px;
    width: 300px;
    background-color: red;
    display: flex;
    align-items: center;
}
.inner{
    height: 150px;
    width: 150px;
    background-color: yellow;
    align-items: center;

}*/
div{
    height: 70px;
    width: 70px;
    background-image:url("joker.jpg.png") ;
    background-size:cover;
    position: fixed;
    right: 2px;
    top: 5px;
}
